.chats {
  width: 250px;
  height: 400px;
  position: relative;
  margin-top: 100px;
}
.chats__header {
  display: flex;
  flex-direction: row;
  background: #0abde3;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.chats__avatar {
  height: 25px !important;
  width: 25px !important;
}
.chats__search {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 8px;
}
.chats__search > input {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 12px;
  flex: 1;
  color: white;
}
.chats__search > input::placeholder {
  color: white;
  opacity: 1;
}
.chats__posts {
  background: white;
  box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.44);
  height: 359px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -9px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.chats__posts::-webkit-scrollbar {
  display: none;
}

/* CHAT ITEM */
.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid whitesmoke;
}
.chat:hover {
  opacity: 0.8;
  cursor: pointer;
}
.chat__readIcon {
  color: red;
}
.chat__avatar {
  height: 35px !important;
  width: 35px !important;
}
.chat__info {
  flex: 1;
  padding-left: 8px;
}
.chat__info h4 {
  font-weight: 500;
  font-size: 11px;
}
.chat__info p {
  font-size: 9px;
}

/* VIEW */

.view {
  width: 250px;
  height: 400px;
  margin-top: 100px;
}
