.app_body {
  display: flex;
  justify-content: center;
  align-content: center;
  /* background: url("https://www.pngkey.com/png/full/859-8598072_picture-freeuse-library-silhouette-mobile-at-getdrawings-cell.png")
    no-repeat center;
  background-size: contain; */
}
.app {
  background: yellow;
  height: 100vh;
}
